<?xml version='1.0' encoding='UTF-8' ?>
<module>
    <name>seven</name>
    <displayName><![CDATA[seven]]></displayName>
    <version><![CDATA[3.0.0]]></version>
    <description><![CDATA[seven.io module to programmatically send text messages.]]></description>
    <author><![CDATA[seven communications GmbH & Co. KG]]></author>
    <tab><![CDATA[emailing]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>
